 <p>registration works!</p>  
 
 
<html lang="en">
<head>
    <title>Responsive Regisration Form </title>
</head>
<body>
    <div class="container">
        <header>Registration</header>

         <form>
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                      
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                          <label>Gender</label>
                          <select required>
                              <option disabled selected>Select Gender</option>
                              <option>Male</option>
                              <option>Female</option>
                              <option>Others</option>
                          </select>
                        </div>

                        <div class="input-field">
                          <label>Roll No.</label>
                          <input type="text" placeholder="Enter your Roll Number" required>
                      </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                          <label>Mobile Number</label>
                          <input type="number" placeholder="Enter mobile number" required>
                        </div>
  
                          <div class="input-field">
                              <label>Email</label>
                              <input type="text" placeholder="Enter your email" required>
                          </div>

                    </div>
                </div>

                  <div class="Education Details">
                      <span class="title">Education Details</span>
                      <div class="fields">
                         
                        <div class="input-field">
                          <label>Year</label>
                          <select>
                            <option disabled selected>Select Year</option>
                            <option value="firstyear">First Year</option>
                            <option value="secoondyear">Second Years</option>
                            <option value="thirdyear">Third Year</option>
                            <option value="forthyear">Forth Year</option>
                          </select>
                        </div>

                        <div class="input-field">
                          <label>Branch</label>
                          <select >
                            <option disabled selected>Select Branch</option>
                            <option value="computer">Computer</option>
                            <option value="it">IT</option>
                            <option value="mechanical">Mechanical</option>
                            <option value="electronic">electronic</option>
                          </select>
                        </div>

                        <div class="input-field">
                           
                        </div>

                        <div class="input-field">
                          <label for="tenthpercent">10<sup>th %</sup></label>
                          <input type="text" placeholder="Enter 10th percentage"> 
                      </div>
    
                      <div class="input-field">
                        <label for="twevethpercent">12<sup>th %</sup> </label>
                        <input type="text"  placeholder="Enter 12th percentage"> 
                    </div>
    
                    <div class="input-field">
                      <label for="Degreepercent">Degree % </label>
                      <input type="text"  placeholder="Enter Degree percentage">  
                   </div>

                   <div class="input-field">
                    <label for="resume">Upload Resume </label>
                    <input type="file">
                 </div> 
                 <div class="input-field">                        
                   <button class="button" role="button">Submit</button>
               </div> 
                

                  </div>
                  </div>
            </div>
        
        </form> 
    </div>

    
</body>
</html>


  