ul li{
    list-style: none;
    display: inline;
    
}
ul li a i {
    border:1px solid rgb(87, 215, 215);
    padding: 8px 12px;
    border-radius: 50%;
    margin-right: 15px; 
}

h2{
    margin-top:100px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
button{
    background-color:rgb(75, 207, 216);
    border-radius:20px;
    border: 1px  rgb(75, 207, 216);
    width: 120px;
    height: 35px;
    color:white;
}
i{
    color: black;
}
.icon{
    margin-top:20px;
}
.in{
    width:280px;
    height:30px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(241, 235, 221);
    border: 1px solid rgb(241, 235, 221);
}
.up{
    color:white;
    margin-top: 150px;
}
.up button{
    background-color: rgb(183, 238, 238);
    border: 1px solid white;
}
 #signindiv{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 10px 10px;
 }
#sungupdiv{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 10px 10px;
}