<!-- <p>my-login works!</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row justify-content-center">
        <div id="signindiv" class="col-md-4 text-center rounded  p-3 py-8 " style="height:450px ; background-color:white ; margin-top: 80px;">
            <form>
                <h2 >Sing in</h2>
                 
            <div class="icon">
            <ul>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            </ul>
            </div>
            
            <input class="in" type="text" placeholder="User Email"><br><br>
            <input class="in" type="password" placeholder="Password"><br><br>
            
            <p>Forgot your password?</p>
            <button>SING IN</button>
         </form>
        </div>
        <div id="sungupdiv" class="col-md-4 text-center rounded  py-8 " style="background-color:rgb(75, 207, 216); margin-top: 80px;">
            <form>
                <div class="up">
                <h2>Sing up</h2>
                <p>Sing up here if you dont have account</p>
                <button>SING UP</button>
                </div>
            </form>
        </div>

    </div>
</div>